body,
p,
button,
input,
select,
textarea {
	color: $text-color;
	font-family: $heading-font-family;
	@include rem(font-size, 15px);
	line-height: $base-line-height;
    font-weight: $base-weight;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@import "headings";

@import "copy";