.main-menu-container {
	// display: none;
	position: absolute;
	z-index: -1;
	left: 0;
	width: 100%;
	top: -115vh;
	padding-top: 120px;
	background: rgba(17, 50, 33, 0.9);
	-webkit-transition: top .25s ease-in-out;
	   -moz-transition: top .25s ease-in-out;
	    -ms-transition: top .25s ease-in-out;
	     -o-transition: top .25s ease-in-out;
	        transition: top .25s ease-in-out;

	#mega-menu-wrap-menu-1 {
		border-top: 2px solid white;
		border-bottom: 2px solid white;
		float: left;
		width: 100%;
		margin-bottom: 20px;
		margin-top: 40px;

		#mega-menu-menu-1 {

			&[data-effect="fade_up"] li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, 
			&[data-effect="fade_up"] li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {
				margin-top: 1px;
				padding: 0;
				border-top: 1px solid #666;

				@include media ($medium-screen-up) {
					background: rgba(17, 50, 33, 0.9);
					border-top: 0;
				}
			}

			p {
				margin-bottom: 0;
			}

			> .mega-menu-item {
				position: relative;
				float: left;
				margin: 0 20px 0 0;
				text-transform: uppercase;
				font-size: 14px;

				width: 100%;
				padding: 0 10px;
				border-bottom: 1px solid #666;

				@include media($medium-screen-up) {
					border-bottom: 0;
					padding: 0;
					width: auto;
				}

				> .mega-menu-link {
					padding: 10px 0;
					font-weight: $medium-weight;
					line-height: normal;
					height: auto;
					text-transform: inherit;
					background: transparent;

					&:hover, &:focus, &:active {
						background: transparent;
						color: $brand-primary;
					}

					&:after {
						display: none;
					}
				}


				&.mega-current-page-ancestor,
				&.mega-current-menu-ancestor, 
				&.mega-current-menu-item, 
				.mega-toggle-on {
					> .mega-menu-link {
						background: transparent;
						color: $brand-primary;
						font-weight: 700;
						text-decoration: none;
						border-color: transparent;
					}
				}

				&:last-of-type {
					float: right;
					background: white;
					color: #202020;
					margin: 0;
					padding: 0;
					border-bottom: 0;

					a {
						color: #202020;
						padding-left: 10px;
						padding-right: 10px;

						@include media($medium-screen-up) {
							padding-left: 20px;
							padding-right: 20px;
						}
					}

					&:hover {
						background: #cf9c23;
						color: white;

						a {
							color: white;
						}
					}

					@include media($medium-screen-up) {
						border-left: 2px solid white;
						border-right: 2px solid white;
					}
				}

				> .mega-sub-menu {

					> .mega-menu-item {
						padding: 10px 0px 0px;
						width: 100%;

						@include media($medium-screen-up) {
							padding: 40px 20px 20px;
							width: inherit;
						}

						> .execphpwidget {
							@include outer-container();
							padding: 0 20px;

							@include media($medium-screen-up) {
								padding: 0 40px;
							}

						}
					}
				}
			}
		}
	}

	&.toggled {
		display: block;
		height: 100vh;

		@include media($medium-screen-up) {
			height: auto;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		width: 100%;
		display: inline-block;
		text-align: left;

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}

		&.nav-menu {
			border-top: 2px solid white;
			border-bottom: 2px solid white;
			float: left;
			width: 100%;
			margin-bottom: 20px;
			margin-top: 40px;

			@include media ($medium-screen-up) {
				margin-top: 0;
			}

			li {

				a {
					padding: 10px 0;
					font-weight: $medium-weight;
				}

				&:last-of-type {
					float: right;
					background: white;
					color: #202020;
					margin: 0;
					padding: 0;
					border-bottom: 0;

					a {
						color: #202020;
						padding-left: 20px;
						padding-right: 20px;
					}

					&:hover {
						background: #cf9c23;
						color: white;

						a {
							//color: white;
						}
					}

					@include media($medium-screen-up) {
						border-left: 2px solid white;
						border-right: 2px solid white;
					}
				}
			}
		}
	}

	li {
		position: relative;
		float: left;
		margin: 0 20px 0 0;
		text-transform: uppercase;
		font-size: 14px;

		@include media($medium-screen-down) {
			width: 100%;
			text-align: center;
			border-bottom: 2px solid white;
		}
	
		&:hover > a,
		&.focus > a {
			color: $brand-primary;
		}
	}
	
	a {
		display: block;
		text-decoration: none;
		color: white;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $brand-primary;
	}
}

.live-view, .menu-toggle {
	float: right;
	border: 2px solid #fff;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	padding: 5px 10px;
	font-weight: $super-weight;
	margin-top: 16px;
}

.live-view {
	background: $brand-primary;
	position: relative;
	margin-right: 33px;
	cursor: pointer;
	color: white;
	clear: right;

	@include media($medium-screen-up) {
		clear: none;
	}

	&:hover {
		color: white;
	}

	&:after {
		content: "";
		background: url('assets/images/arrow.svg');
		background-color: green;
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: 12px;
		width: 21px;
		position: absolute;
		right: -25px;
		height: 100%;
		top: -2px;
		border: 2px solid white;
		border-left: 0;
		box-sizing: content-box;
	}
}

.menu-toggle {
	background: black;
	color: white;
	cursor: pointer;

	&:hover {
		color: white;
	}
}

.toggled {
	.main-menu-container {
		//display: block;
		top: 0;
	}
}

.menu-childs, .mega-sub-menu {
	display: none;
	background-color: transparent;

	@include media($medium-screen-up) {
		display: block;
	}

	.child {
		// display: none;

		&.open {
			display: block;
		}

		h2 {
			color: white;
			border-bottom: 2px solid $brand-primary;
			margin-bottom: 30px;
			text-transform: uppercase;
			font-size: 20px;
			margin-top: 10px;
			display: inline-block;
			padding-right: 100px; 
		}

		.match-info {
			margin-bottom: 20px;

			p {
				color: white;
				margin-bottom: 0;

				&.match {
				}

				a {
					font-size: 14px;
					color: $brand-primary;
					padding: 0 !important;
				}
			}
		}

		.boxofsquads {
			display: none;

			&.active {
				display: block;
			}
		}

		.tabs {
			border: 2px solid $brand-primary;

			.tab-links {

				li {
					border-bottom: 2px solid $brand-primary;
					border-left: 2px solid $brand-primary;
					border-right: 0;
					margin: 0;
					width: 25%;
					background: transparent;

					&:hover {
						background: transparent;
						color: white;
					}

					a, a:hover, a:focus {
						background: transparent;
						color: white; 
						width: 100%;
						overflow: hidden;
						white-space: nowrap;
						padding: 10px;
						line-height: 1;
						margin-bottom: -7px;
					}

					&.active {
						border-bottom: 0;
						color: white;

						a {
							border-bottom: 0;
							color: white;
						}
					}

					&:first-of-type {
						width: 50%;
						border-left: none;
					}

					&:last-of-type {
						background: transparent;
						color: white;
					}
				}
			}
			
			.tab-content {
				background-color: transparent;;
				padding: 0 10px 10px;
				border-radius: 0;
				box-shadow: none;

				.Opta .Opta-H3, .Opta h3 {
					display: none;
				}

				.Opta td:first-child, .Opta th:first-child {
					width: 5%;
				}

				.Opta td:nth-child(2), .Opta th:nth-child(2) {
					width: 20%;
				}

				.Opta>.Opta_W {
					margin: 0;
					background: transparent;
				}

				.Opta .Opta-Odd td, .Opta .Opta-Odd th, .Opta .Opta-Striped li:nth-child(odd), .Opta .Opta-Striped tbody tr:nth-child(odd) td, .Opta .Opta-Striped tbody tr:nth-child(odd) th, .Opta div.Opta-Odd {
					background-color: transparent;
				}

				.Opta .Opta-Even td, .Opta .Opta-Even th, .Opta .Opta-Striped li:nth-child(even), .Opta .Opta-Striped tbody tr:nth-child(even) td, .Opta .Opta-Striped tbody tr:nth-child(even) th, .Opta div.Opta-Even {
					background-color: transparent;
				}

				.Opta>.Opta_W>div {
					background: transparent;
					color: white;
				}

				.Opta tfoot th, .Opta thead th {
					color: white;
					text-transform: uppercase;
					background: transparent;
					border-bottom: 2px solid $brand-primary;
					width: 6%;

					@include media($medium-screen-up) {
						width: auto;
					}
				}

				.Opta thead th:last-of-type, .Opta tbody td:last-of-type, .Opta thead th:first-of-type, .Opta tbody td:first-of-type {
					display: none;
				}
			}
		}

		.players {

			.person {
				position: relative;
				margin-bottom: 5px;
				position: relative;
				float: left;
				width: 31.411%;
				margin-right: 1.5%;
				-webkit-transition: all .300ms ease-in-out;
				-moz-transition: all .300ms ease-in-out;
				-ms-transition: all .300ms ease-in-out;
				-o-transition: all .300ms ease-in-out;
				transition: all .300ms ease-in-out;

				@include media($medium-screen-up) {
					margin-bottom: 15px;
					width: 15.411%;
				}

				&:last-of-type {
					margin-right: 0;
				}

				a {
					padding: 0;
				}

				.info {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(0,0,0,0.6);
					opacity: 0;
				}

				&:hover {
					.info {
						opacity: 1;
					}
				}

				img {
					display: block;
				}

				span {
					bottom: 0;
					right: 0;
					position: absolute;
				}

				h2 {
					border: 0;
					font-size: 14px;
					line-height: 1;
					padding: 0;
					margin: 0;
					text-align: center;
					width: 100%;
					padding: 0 5px;
				}
			}
		}

		.menu-sub-menu {

			ul {
				width: 100%;
				
				li {
					width: 100%;
					border-bottom: 2px solid $brand-primary;
					background-color: transparent;

					&:last-of-type {
						background-color: transparent;
						border-right: 0; 
						border-left: 0; 
					}

					a {
						width: 100%;
						line-height: 3;
						padding: 0;
						font-weight: $medium-weight;
						background-color: transparent;
						text-align: left;
					}
				}
			}
		}

		&#theclub, &#commercial {

			.menu-sub-menu {

				li {

					@include media ($medium-screen-up) {
						width: calc(25% - 20px);
						float: left;
					}
				}
			}
		}

		&#news, &#whatson  {

			a.viewall {
				display: block;
				width: 100%;
				text-align: center;
				color: white;
				background: $brand-primary;
				padding: 10px;
				font-weight: 600;
				text-transform: uppercase;
				margin-bottom: 20px;
			}

			.slide {
				background: white;
				border: 2px solid white;
				box-sizing: border-box;
				float: left;
				width: 100%;
				margin-bottom: 1%;
				position: relative;
				padding: 10px;

				@include media ($medium-screen-up) {
					width: 32.66%;
					margin-right: 1%;
					padding: 0;
				}

				&:nth-child(3n) {
					margin-right: 0;
				}

				img {
					display: block;
				}

				a {
					display: block;
					padding: 0;
				}

				h2, h3, h4, a {
					text-transform: uppercase;
					color: $brand-primary;
				}

				// h3 {
				// 	width: 171px;
				// 	white-space: nowrap;
				// 	text-overflow: ellipsis;
				// 	overflow: hidden;
				// }

				.more {
					display: none;
					position: absolute;
					font-size: 13px;
					bottom: 7px;
					color: $brand-primary;
				}

				.image {
					float: left;
					width: 25%;

					@include media ($medium-screen-up) {
						width: 50%;
					}
				}

				.content {
					float: left;
					width: 75%;
					padding: 0 10px;

					h3 {
						line-height: 1.2;
						font-size: 14px;
						color: #202020;

						@include media ($medium-screen-up) {
							font-size: 16px;
						}
					}

					@include media ($medium-screen-up) {
						width: 50%;
						padding: 10px;
					}
				}
			}

		}

		.memberships {

			.viewall {
				display: block;
				width: 100%;
				text-align: center;
				color: white;
				background: $brand-primary;
				padding: 10px;
				font-weight: 600;
				text-transform: uppercase;
				margin-bottom: 20px;
			}

			.packages {
				column-count: 1;
				vertical-align: top;

				@include media ($medium-screen-up) {
					column-count: 4;
				}

				.package {
					position: relative;
					margin-bottom: 20px;

					a {
						padding: 0;
					}

					.copy {
						padding: 0;
						position: absolute;
						top: 0;
						height: calc(100% - 40px);
						width: 100%;

						h3 {
							margin: 0;
							color: white;
							font-size: 14px;
							display: inline-block;
							background: $brand-primary;
							top: 0;
							position: absolute;
							padding: 2px 5px;
							text-transform: uppercase;
						}

						h4 {
							margin: 0;
							color: white;
							font-size: 14px;
							position: absolute;
							bottom: 0;
							right: 0px;
							background: $brand-primary-dark;
							padding: 2px 5px;
							text-transform: uppercase;
						}
					}

					.links {
						
						a {
							background: $brand-primary;
							text-align: center;
							font-size: 14px;
							text-transform: uppercase;
							font-weight: $medium-weight;
							padding: 3px 6px;
							margin-top: 5px;
							display: inline-block;
						}
					}
				}
			}
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		@include rem(margin, 0 0 15px);
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
