article/*--------------------------------------------------------------
## Archive
--------------------------------------------------------------*/

.error404, .search, .archive, .blog {

	#jumbrotron {
		height: 420px;
		max-height: 420px;

		h1 {
			color: white;
			text-transform: uppercase;
			font-size: 38px;
			line-height: 0.875;
			margin: 0;
		}

		h3 {
			color: $brand-primary;
			text-transform: uppercase;
			font-size: 16px;
		}

		.info {
			$ccimages: (
				'assets/images/banners/CC-ClarkeAlt-min.jpg',
				'assets/images/banners/CC-HastingsAlt-min.jpg',
				'assets/images/banners/CC-LeachAlt-min.jpg',
				'assets/images/banners/CC-MitchDollyAlt-min.jpg',
			);

			$ccimage: nth($ccimages, random(length($ccimages)));

			@include media ($medium-screen-down) {
				background-image: url($ccimage) !important;
				background-size: cover;
			}
		}

		.news {
			bottom: 0;

			.span6 {
				position: relative;
				margin-top: 100px;

				h1 {
					margin: 0;
					width: 100%;
					// position: absolute;
					// top: 50%;
					// width: 50%;
				}

				h3 {
					// position: absolute;
					// bottom: 5%;
					// margin: 0;
				}

				img {
					display: block
				}
			}
		}
	}

	#primary {
		margin-top: 50px;

		#main {
			@include row();
		}

		article {
			position: relative;
			margin-bottom: 15px;

			@include media($medium-screen-up) {
				margin-bottom: 5px;

				&:nth-child(4n) {
				}
			}

			img {
				display: block;
				width: 100%;

				@include media($medium-screen-up) {
					width: auto;
				}
			}

			header {
				position: absolute;
				width: 100%;
				bottom: 0;
				padding: 20px;
				box-sizing: border-box;

				@include media($medium-screen-up) {
					position: relative;
					padding: 0;
				}

				h1 {
					margin: 0;
					display: inline-block;
					color: white;
					text-transform: uppercase;
					padding: 10px;
					font-size: 16px;
					font-weight: 700;
					background: #202020;
					color: white;

					small {
						color: $brand-primary;
					}

					&:hover {
						background: $brand-primary;
					}
	
					a {
						color: white;
					}
				}
			}

			h2, h3, h4, h5 {
				color: $brand-primary-dark;
				font-size: 20px;
				margin-bottom: 20px;
				line-height: 1.2;
			}
		}
	}

	#sidebar {

		.widget {
			margin: 0;

			.widget-title {
				display: none;
			}

			ul {
				border-top: 1px solid $brand-primary;
				border-bottom: 1px solid $brand-primary;

				li {
					margin: 0 10px 0 0;
					display: inline-block;
					border: 0;
					padding: 10px;
					font-size: 17px;

					a {
						color: #333;
					}

					&.current-cat, &:hover {
						background-color: $brand-primary;
						
						a {
							color: white;
						}
					}
				}
			}
		}
	}
}
