/*--------------------------------------------------------------
## Archive
--------------------------------------------------------------*/

.archive, .blog {

	#jumbrotron {
		height: 420px;
		max-height: 420px;

		h1 {
			color: white;
			text-transform: uppercase;
			font-size: 38px;
			line-height: 0.875;
			margin: 0;
		}

		h3 {
			color: $brand-primary;
			text-transform: uppercase;
			font-size: 16px;
		}

		.news {
			bottom: 0;

			.span6 {
				position: static;
			}
		}
	}

	#primary {
		margin-top: 50px;

		#main {
			@include row();
		}

		article {
			position: relative;
			margin-bottom: 5px;

			@include media($medium-screen-up) {

				&:nth-child(4n) {
				}
			}

			img {
				display: block;
			}

			header {
				position: absolute;
				width: 100%;
				bottom: 0;
				padding: 20px;
				box-sizing: border-box;

				h1 {
					margin: 0;
					display: inline-block;
					color: white;
					text-transform: uppercase;
					padding: 0 6px;

					background: $brand-primary-dark;
					color: white;

					&:hover {
						background: $brand-primary;
					}
	
					a {
						color: white;
					}
				}
			}

			h2, h3, h4, h5 {
				color: $brand-primary-dark;
				font-size: 20px;
				margin-bottom: 20px;
				line-height: 1.2;
			}
		}
	}

	#sidebar {

		.widget {
			margin: 0;

			.widget-title {
				display: none;
			}

			ul {
				border-top: 1px solid $brand-primary;
				border-bottom: 1px solid $brand-primary;

				li {
					margin: 0 10px 0 0;
					display: inline-block;
					border: 0;
					padding: 10px;
					font-size: 17px;

					a {
						color: #333;
					}

					&.current-cat, &:hover {
						background-color: $brand-primary;
						
						a {
							color: white;
						}
					}
				}
			}
		}
	}
}
