/*--------------------------------------------------------------
## Home
--------------------------------------------------------------*/

.home {

	#jumbrotron {
		height: 750px;
		max-height: 750px;
		min-height: 750px;

		@include media($medium-screen-up) {
			height: 690px;
			max-height: 690px;
			min-height: 690px;
		}
	}

	#fixtures {
		background: linear-gradient(180deg, $brand-primary 50%, $brand-primary-dark 50%);
		padding: 50px 0;

		@include media($medium-screen-up) {
			background: linear-gradient(90deg, $brand-primary 50%, $brand-primary-dark 50%);
		}

		.fixture {
			//padding-right: 20px;

			.Opta {
				.Opta-Flex {
					.Opta-fixture {
						display: none;

						&:first-of-type {
							display: block;
						}
					}
				}
			}
		}

		.result, .fixture {
			float: left;
			width: 100%;

			@include media($medium-screen-up) {
				width: 50%;
			}

			h2 {
				font-size: 32px;
				text-transform: uppercase;
				line-height: 1;
				margin-bottom: 30px;
				color: white;

				@include media($medium-screen-up) {
					font-size: 47px;
				}
			}

			a {
				color: white;
				font-weight: $medium-weight;
				text-transform: uppercase;
				border-right: 1px solid white;
				padding-right: 10px;
				margin-right: 5px;
				line-height: 1;
				
				&:last-of-type {
					border-right: 0;
					padding-right: 0;
					margin-right: 0;
				}
			}

			.match-info {
				border-top: 1px solid white;
				border-bottom: 1px solid white;
				margin-bottom: 20px;
				padding: 20px 0;
				position: relative;

				.date-time {
					margin: 0;
					color: white;
					font-weight: $heavy-weight;
					font-family: $heading-font-family;
					font-size: 13px;
					position: absolute;
					top: -7px;
					padding: 0 10px 0 0;

					@include media($medium-screen-up) {
						font-size: 19px;
						top: -10px;
					}

					span {
						float: left;
						line-height: 1;
						padding-right: 10px;
						margin-right: 10px;
						border-right: 1px solid white;

						span {
							float: none;
							padding-right: 0;
							margin-right: 0;
							border-right: none;
						}

						&:last-of-type {
							padding-right: 0;
							margin-right: 0;
							border-right: none;
						}
					}
				}

				.comp {
					color: black;
					text-transform: uppercase;
					font-weight: $heavy-weight;
					font-family: $heading-font-family;
					font-size: 12px;
					margin: 0;
					line-height: 1;
					margin-top: 0;
					margin-bottom: 5px;
					font-style: italic;

					@include media($medium-screen-up) {
						font-size: 19px;
						margin-top: 20px;
						margin-bottom: 0;
					}
				}

				.match {
					span {
						color: black;
					}
				}

				.links {

					a {
						background: $brand-primary;
						padding: 8px 16px;
						display: inline-block;
						margin-left: 9px;
						border: 1px solid white;
						color: white;
						
						&:first-of-type {
							margin-left: 0;
						}

						&.tickets {
							background-color: black;
						}
					}
				}
			}
		}

		.result {
			padding-bottom: 20px;

			@include media($medium-screen-up) {
				padding-right: 20px;
				padding-bottom: 0;
			}

			.match-result {
				font-size: 19px;
				margin-bottom: 0;
				color: white;
				line-height: 42px;
				text-transform: uppercase;
				font-weight: 900;
			}

			.match-info {

				.date-time {
					background: $brand-primary;
				}
			}

		}

		.fixture {
			padding-top: 20px;

			@include media($medium-screen-up) {
				padding-left: 20px;
				padding-top: 0;
			}

			.match-info {

				.date-time {
					background: $brand-primary-dark;
				}

				.comp {
					color: $brand-primary;
				}

				.match {

					span {
						color: $brand-primary;
					}
				}
			}
		}
	}
}