/*--------------------------------------------------------------
## Matches
--------------------------------------------------------------*/

.single-matches {

	#jumbrotron {

		.info {
			$ccimages: (
				'assets/images/banners/CC-ClarkeAlt.jpg',
				'assets/images/banners/CC-HastingsAlt.jpg',
				'assets/images/banners/CC-LeachAlt.jpg',
				'assets/images/banners/CC-MitchDollyAlt.jpg',
			);

			$ccimage: nth($ccimages, random(length($ccimages)));

			@include media ($medium-screen-down) {
				background-image: url($ccimage) !important;
				background-size: cover;
			}
		}

		.news {

			.game-title {
				
				h1, h2 {
					font-size: 29px;
					line-height: 0.875;
					color: white;
					margin-bottom: 0;

					@include media ($medium-screen-up) {
						font-size: 50px;
					}

					span {
						color: #1ac036;
					}

					small {
						font-size: 50%;
					}
				}
			}
		}
	}

	#primary {

		aside {

			.toggle-quick {
				position: fixed;
				z-index: 9999999;
				border: 0;
				background: #009DE0;
				color: white;
				text-transform: uppercase;
				bottom: 20px;
				left: 19px;

				@include media ($medium-screen-up) {
					display: none;
				}
			}

			nav {
				display: none;

				&.show { 
					display: block;
					position: fixed;
					top: auto;
					bottom: 50px;
					margin: 0;
					background: #f9f9f9;
					border: 0;
					left: 19px;
					z-index: 50;
				}

				@include media ($medium-screen-up) {
					display: block;
				}
			}
		}
	}

	.data-feed {
		border: 4px solid $brand-primary;
		padding: 20px;
		margin-bottom: 60px;
		position: relative;
		float: left;
		width: 100%;

		@include media ($medium-screen-up) {
			margin-bottom: 30px;
		}

		h1 {
			position: absolute;
			top: -45px;
			left: 0;
			
			@include media ($medium-screen-up) {
				top: -10px;
				left: -10px;
				transform-origin: 0 0;
				-webkit-transform: rotate(90deg);
				   -moz-transform: rotate(90deg);
				    -ms-transform: rotate(90deg);
				     -o-transform: rotate(90deg);
				        transform: rotate(90deg);
			}
		}

		.details {
			border-bottom: 2px solid #ccc;
			float: left;
			width: 100%;
			margin-bottom: 30px;
			padding-bottom: 30px;

			dl {
				width: 100%;
				float: left;
				margin: 0;

				@include media ($medium-screen-up) {
					width: 50%;
				}

				dt {
					float: left;
					margin: 0;
					width: 25%;
				}

				dd {
					float: left;
					margin: 0;
					width: 75%;					
				}
			}
		}

		.summary {
			float: left;
			width: 100%;

			p {
				margin-bottom: 0;
			}

			dl {
				width: 50%;
				float: left;
				margin: 0;

				dt {
					float: left;
					margin: 0;
					margin-right: 10px;
				}

				dd {
					float: left;
					margin: 0;
				}
			}
		}

		.homeSide, .awaySide {
			float: left;
			width: 50%;
			margin-top: 30px;

			ul {
				list-style: none;
				margin: 0;

				li {
					padding: 0 10px;
					line-height: 45px;

					&:nth-child(odd) {
						background-color: #f9f9f9;
					}
					
					&.teamName {
						background-color: #333;
						color: white;
					}

					span {
						display: inline-block;
						width: 30px;
						margin-left: 10px;
						vertical-align: middle;
						line-height: 1;
					}
				}
			}
		}
	}

	aside {

		nav {
			width: 240px;

			&.stick {
				position: fixed;
				top: 0;
				z-index: 10000;
				margin-top:12px;
			}

			ul {
				list-style-type:none;
				margin:0;
				padding:0;

				li {
					margin-bottom: 1px;

					a {
						padding: 20px;
						color: #333;
						font-family: $heading-font-family;
						text-transform: uppercase;
						line-height: 1;
						list-style: none;
						background-color: #f9f9f9;
						display: block;

						&.nav-active {
    						background-color: $brand-primary;
    						color: white
						}

					}
					
					&:first-of-type {
						background-color: #333333;
						color: white;
						padding: 20px;
						font-weight: $medium-weight;
						font-family: $heading-font-family;
						text-transform: uppercase;
						line-height: 1;
						list-style: none;
						margin-bottom: 10px;
					}
				}
			}
		}
	}

	.reports {
		margin-bottom: 60px;

		.accordion {
			background: #f9f9f9;
		}
	}

	// #timer {
	// 	position: fixed;
	// 	bottom: 50px;
	// 	left: 50px;
	// 	z-index: 10;
	// 	background: green;
	// 	width: 100px;
	// 	height: 100px;
	// 	border-radius: 50%;

	// 	.time {

	// 		#countdown {
	// 			color: white;
	// 			font-family: #heading-font-family;
	// 			font-size: 50px;
	// 			font-weight: $base-weight;
	// 		}
	// 	}
	// }

	.time, .listen-live {
		text-align: center;
		margin-top: 20px;
		background: #f9f9f9;
		padding: 20px;
		color: #333;
		position: relative;

		#pause, #resume, #play {
			background-color: $brand-primary-dark;
			width: 36px;
			line-height: 36px;
			color: white;
			text-align: center;
			float: left;
			margin-right: 4px;
		}

		h3 {
			float: left;
			font-size: 24px;
			line-height: 1.2;
			text-transform: uppercase;
			color: #333;
			margin: 0;
			text-align: left;
			font-size: 16px;
			width: 80%;
			clear: none;
		}

		span {
			color: $brand-primary;
		}

		#progressBar {
			width: 100%;
			height: 10px;
			background-color: transparent;
			position: absolute;
			left: 0;
			bottom: 0;
		}

		#progressBar div {
			height: 100%;
			text-align: right;
			padding: 0;
			line-height: 22px; /* same as #progressBar height if we want text middle aligned */
			width: 0;
			background-color: $brand-primary;
			box-sizing: border-box;
		}
	}

	.listen-live {
		margin-top: 10px;

		a {
			float: left;
			width: 100%;
		}

		h3 {
			line-height: 36px;
		}
	}

	.match-weather {
		position: relative;
		margin-top: 10px;

		h3 {
			text-align: center;
			text-transform: uppercase;
			font-size: 20px;
			background: $brand-primary-dark;
			margin-bottom: 0;
			color: white;
			line-height: 1.9;
		}

		.weather {
			position: relative;
			right: auto;
			padding: 10px 20px;
			width: 100%;
			border: 0;
			background-color: $brand-primary;
			top: auto;
			color: white;

			.wi {
				font-size: 36px;
				vertical-align: middle;
				margin-bottom: 0px;
				line-height: inherit;
			}

			.icon {
				display: block;
				padding: 0;
				text-align: center;
			}

			.type, .temp {
				font-size: 18px;
				float: none;
				display: block;
				padding: 0;
				text-align: center;
				border: 0;
				width: 100%;
				box-sizing: border-box;
				text-transform: uppercase;
				font-family: #heading-font-family;
			}
		}
	}
}
