/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/

.page {

	#parts {
		
		.section {
			padding: 40px 0;

			&:nth-child(odd) {
				background-color: #f9f9f9;
			}

			.column {

				.copy {
					padding: 0;
				}

				&.hundred {
					@include span-columns(1);

					@include media($medium-screen-up) {
						@include span-columns(8);
					}

					@include media($large-screen-up) {
						@include span-columns(12);
					}
					margin-right: 0;
					margin-bottom: 20px;
					text-align: center;

					&:last-of-type {
						margin-bottom: 0;
					}

					p {
						padding: 0 40px;

						&:last-of-type {
							margin-bottom: 0;
						}
					}
				}

				&.seventyfive {
					@include span-columns(1);

					@include media($medium-screen-up) {
						@include span-columns(9);
					}

					@include media($large-screen-up) {
						@include span-columns(9);
					}
				}

				&.fifty {
					@include span-columns(1);

					@include media($medium-screen-up) {
						@include span-columns(4);
					}

					@include media($large-screen-up) {
						@include span-columns(6);
					}
				}

				&.twentyfive {
					@include span-columns(1);

					@include media($medium-screen-up) {
						@include span-columns(2);
					}

					@include media($large-screen-up) {
						@include span-columns(3);
					}
				}

				img {
					display: block;
					width: 100%;
				}
			}
		}
	}

	#jumbrotron {
		height: 250px;
		max-height: 250px;

		@include media($medium-screen-up) {
			height: 420px;
			max-height: 420px;			
		}

		h1 {
			color: white;
			text-transform: uppercase;
			font-size: 38px;
			line-height: 1.1;
			margin: 0 0 40px 0;
			font-weight: $base-weight;
		}

		h3 {
			color: $brand-primary;
			text-transform: uppercase;
			font-size: 16px;
		}

		.news {
			bottom: 0;
			background-size: cover;

			@include media($medium-screen-up) {
				background-size: initial;
			}

			.span6 {
				position: static;

				h1 {
					margin: 0;
					position: absolute;
					top: auto;
					bottom: 20px;

					@include media($medium-screen-up) {
						top: 50%;
						bottom: auto;
					}
				}

				h3 {
					position: absolute;
					bottom: 5%;
					margin: 0;
				}

				img {
					display: block
				}
			}
		}
	}

	#location {

		.map {
			
		}
	}

	#primary {
		margin-top: 50px;

		article {
			h2, h3, h4, h5 {
				color: $brand-primary-dark;
				font-size: 20px;
				margin-bottom: 20px;
				line-height: 1.2;
			}
		}

		.hours {

			table {

				tr {

					td {
						vertical-align: top;
						padding: 20px;
						border-bottom: 0;

						&.title {
							background-color: $brand-primary-dark;
							color: white;
							font-family: $heading-font-family;
							font-weight: $base-weight;
							width: 30%;
							border-top: 1px solid $brand-primary-dark;
							border-bottom: 1px solid white;
							border-left: 1px solid $brand-primary-dark;
						}

						&.info {
							width: 70%;
							border-top: 1px solid #ccc;
							border-bottom: 1px solid #ccc;
							border-right: 1px solid #ccc;
						}
					}
				}
			}
		}
	}
}

/*--------------------------------------------------------------
## Fixtures
--------------------------------------------------------------*/

.page-template-page-fixtures,
.page-template-page-results {

	#vs {
		position: relative;
		margin-bottom: 40px;

		h2 {
			color: $brand-primary-dark-t20;
			font-size: 30px;
			line-height: 1;
			margin: 60px 0 20px 0;
			text-transform: uppercase;
			font-weight: $base-weight;
			display: inline-block;
			padding-right: 100px;

			&:first-of-type {
				margin-top: 0;
			}
		}

		.tab-content {
			padding: 0;
			border: 0;
			border-radius: 0;
			box-shadow: none;
			background: transparent;
		}

		.tab-links {
			margin: 0 0 30px 0;
			text-align: center;

			li {
				margin: 0;
				float: left;
				width: 50%;

				a {
					padding: 9px 15px;
					display: block;
					color: white;
					border-radius: 0;
					background: $brand-primary-dark;
					font-size: 16px;
					font-weight: $base-weight;
					transition: all linear 0.15s;
					text-transform: uppercase;
				}

				&.active {

					a {
						background-color: $brand-primary;
						color: white;
					}
				}
			}
		}

		.row {
			margin-bottom: 0;
			padding: 20px;
			position: relative;

			&:nth-child(even) {
				background: #f9f9f9;
			}

			h3 {
				color: $brand-primary;
				font-size: 30px;
				margin: 0 0 20px 0;
				text-transform: uppercase;
				background: transparent;
				font-weight: $base-weight;
				border: 0;
				height: auto;
			}
		}

		.team {
			float: left;
			width: auto;
			position: relative;

			img {
				width: 79px;
				float: left;
				margin-right: 20px;
			}

			.name {
				width: auto;
				float: left;
				text-align: left;

				h3, h4 {
					margin: 0;
					line-height: 1;
					text-transform: uppercase;
				}

				h3 {
					font-size: 21px;
					color: $brand-primary-dark-t20;
				}

				h4 {
					font-size: 19px;
					color: $brand-primary;
					position: relative;
					margin-bottom: 15px;

					small {
						font-size: 15px;
						position: absolute;
						bottom: -17px;
						left: 0;
						width: 100%;
					}
				}

				p {
					color: #333;
					margin: 0; 

					span {
						margin-right: 5px;
						padding-right: 10px;
						border-right: 1px solid #333;

						&:last-of-type {
							margin-right: 0;
							padding-right: 0;
							border-right: 0;
						}
					}
				}
			}
		}

		.link {
			text-align: right;
			float: right;

			.status {
				font-weight: $base-weight;
				color: #333;
				text-transform: uppercase;
				line-height: 1;
				display: block;
			}

			p {
				margin: 0; 
			}

			a {
				font-weight: $base-weight;
				text-transform: uppercase;
				font-size: 14px;
				color: white;
				float: right;
				margin-left: 20px;
				padding: 6px 16px;
			}

			.matchlink {
				background: $brand-primary;
			}

			.ticketlink {
				background: $brand-primary-dark;
			}
		}
	}
}

/*--------------------------------------------------------------
## Squadies
--------------------------------------------------------------*/

.squadies {
	position: relative;
	// float: left;
	width: 100%;

	.person {
		position: relative;
		margin-bottom: 5px;
		overflow: hidden;

		@include media($medium-screen-up) {
		}

		@include media($medium-screen-up) {	
		}


		img {
			display: block;
			width: 100%;
		}

		h2 {
			position: absolute;
			bottom: 0;
			color: white;
			text-transform: uppercase;
			padding: 20px;
			margin: 0;
			line-height: 1;
			width: 100%;
			background: $brand-primary-dark;
			font-size: 20px;
		}

		.info {
			position: absolute;
			width: 100%;
			top: 100%;
			padding: 20px;
			height: 100%;
			background: $brand-primary-dark;
			-webkit-transition: all .25s ease-in-out;
			   -moz-transition: all .25s ease-in-out;
			    -ms-transition: all .25s ease-in-out;
			     -o-transition: all .25s ease-in-out;
			        transition: all .25s ease-in-out;

			h3, h4 {
				color: white;
				text-transform: uppercase;
			}

			h3 {
				font-size: 20px;
			}

			h4 {
				font-size: 18px;
				border-bottom: 1px solid #fff;
				padding-bottom: 5px;
				margin-bottom: 5px;
			}

			ul {
				margin: 0;
				list-style: none;

				li {
					color: white;
					text-transform: capitalize;

					span {
						width: 75px;
						display: inline-block;
					}
				}
			}

			a {
				background-color: $brand-primary;
				display: block;
				position: absolute;
				width: 100%;
				left: 0;
				text-align: center;
				color: white;
				padding: 10px;
				text-transform: uppercase;
				font-weight: $base-weight;
				bottom: 0;
			}
		}

		&:hover {
			.info {
				top: 0;
			}
		}
	}

}

/*--------------------------------------------------------------
## Template No Sidebar
--------------------------------------------------------------*/

.page-template-no-sidebar,
.roll-of-honour,
.membership,
.senior-squad,
.coaching-staff,
.academy-squad,
.visitor-info,
.official-sponsors-partners,
{

	#main {

		center {
			padding: 0 100px;
			margin-bottom: 50px;
			
			p {
				&:last-of-type {
					margin-bottom: 0;
				}
			}
			
			h1 {
				font-size: 30px;
				text-transform: uppercase;
				color: black;
				margin: 0 0 20px 0;
			}
		}

		.quick-links {

			ul {
				list-style: none;
				margin: 20px 0;
				border-top: 2px solid $brand-primary;
				padding: 20px 0;

				li {
					display: inline-block;
					margin-bottom: 5px;

					a {
						background-color: $brand-primary;
						color: white;
						padding: 5px 10px;
						display: block;
						font-weight: $base-weight;
					}
				} 
			}
		}

		.downloads {
			text-align: center;
			margin: 0 0 40px;
			border-top: 2px solid #ccc;
			border-bottom: 2px solid #ccc;
			padding: 40px 0;

			a {
				display: inline-block;
				padding: 5px 10px;
				color: white;
				background-color: $brand-primary;
				margin: 0 4px;
			}
		}

		.memberships {
			text-align: center;

			.package {
				display: inline-block;
				width: 35%;
				text-align: left;
				vertical-align: top;
				margin-bottom: 20px;
				background: #f9f9f9;
				margin: 0 1% 30px;
				position: relative;

				img {
					display: block;
				}

				.links {

					a {
						float: left;
						width: 50%;
						text-align: center;
						padding: 5px 10px;
						background: $brand-primary-dark;
						color: white;
						font-weight: $base-weight;
						text-transform: uppercase;

						&.more {
							background: #ccc;
							color: #333;
						}
					}
				}

				.copy {

					h3 {
						position: absolute;
						top: 0;
						background: $brand-primary-dark;
						padding: 5px 10px;
						color: white;
						text-transform: capitalize;
						left: 20px;
					}

					h4 {
						position: absolute;
						top: 0;
						right: 30px;
						background: $brand-primary;
						padding: 5px 10px;
						color: white;
					}

					ul {
						list-style: none;
						margin: 0;
						height: 261px;
						overflow: hidden;

						&.reveal {
							overflow: auto;
							height: auto;
						}

						li {
							position: relative;
							padding: 0 0 0 30px;
							margin-bottom: 10px;

							i {
								color: $brand-primary-dark;
								position: absolute;
								left: 0;
								top: 5px;
							}

							&:last-of-type {
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
	}
}

/*--------------------------------------------------------------
## SPONSORS PAGE
--------------------------------------------------------------*/

.official-sponsors-partners {

	#spnsrs {
		background: #f9f9f9;
		padding: 40px 0;

		.row {
			margin-bottom: 20px;
		}

		header {

			h3 {
				padding: 0;
				text-transform: uppercase;
			}
		}

		.sponsors {
			position: relative;

			.wrap {
				float: left;
			}

			.sponsor {
				float: left;
				
				img {
					display:block;
					filter: grayscale(100%);
					height: auto;
					width: auto;
				}
			}

			&.official {;

				.sponsor {
					width: 100%;

					.image {
						float: left;
						width: 30%;
					}

					.copy {
						float: left;
						width: 70%;
						text-align: left;
						padding: 0 0 0 20px;
					}
				}
			}

			&.main {

				.sponsor {
					width: 49%;
					margin-right: 2%;
					margin-bottom: 20px;
					box-sizing: border-box;

					&:last-of-type {
						margin-right: 0;
					}

					.image {
						float: left;
						width: 30%;
					}

					.copy {
						float: left;
						width: 70%;
						text-align: left;
						padding: 0 0 0 20px;
					}
				}
			}

			&.club {
				
				.sponsor {
					width: 32%;
					margin-right: 2%;
					margin-bottom: 20px;
					box-sizing: border-box;

					&:last-of-type {
						margin-right: 0;
					}

					.image {
						float: left;
						width: 100%;
						margin-bottom: 20px;
					}

					.copy {
						float: left;
						width: 100%;
						text-align: left;
						padding: 0;
					}
				}

			}
		}
	}
}

/*--------------------------------------------------------------
## CONTACT PAGE
--------------------------------------------------------------*/

.contact {
	
	.gform_wrapper {
		overflow: inherit;
		margin: 0;
		max-width: 100%;

		.gform_body {
			
			ul {
				
				.gfield {
					margin-bottom: 20px;
					width: 49%;
					float: left;
					clear: none;

					&:nth-child(2n) {
						float: right;
					}

					&:last-of-type {
						margin-bottom: 0;
						width: 100%;
					}

					.gfield_label {
						margin: 0 0 10px 0;
						font-weight: $base-weight;
						display: -moz-inline-stack;
						display: inline-block;
						line-height: inherit;
						clear: both;
						color: $brand-primary-dark;
						text-transform: uppercase;
					}

					.gfield_label+div.ginput_container {
						margin-top: 0;
					}

					input.large, select.large {
						width: 100%;
					}

					textarea.medium, textarea.lsrge {
						width: 100%;
					}

					input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea, select {
						display: block;
						margin: 0;
						box-sizing: border-box;
						-webkit-appearance: none;
						border: 1px solid #ddd;
						box-shadow: none;
						border-radius: 0;
						background: white;
						line-height: 1.6;
						padding: 5px;
					}
				}
			}
		}

		.gform_footer {
			padding: 0;
			margin: 20px 0 0 0;
			clear: both;
			float: right;

			input.button, input[type=image], input[type=submit] {
				display: inline-block;
				background: $brand-primary-dark;
				color: white;
				text-transform: uppercase;
				border: 0;
				padding: 10px 40px;
			}
		}
	}


	table {

		thead {
			background: $brand-primary-dark;
			color: white;

			th {
				padding: 5px 10px;
				font-weight: $base-weight;
			}
		}

		tbody {
			td {
				padding: 5px 10px;
			}
		}
	}
}

/*--------------------------------------------------------------
## WHATS ON
--------------------------------------------------------------*/

.whats-on {

	#main {

		.row {

			.package {
				position: relative;
				margin-bottom: 5px;

				img {
					display: block;
				}

				header {
					position: absolute;
					width: 100%;
					bottom: 0;
					padding: 20px;
					box-sizing: border-box;

					h3 {
						margin: 0;
						display: inline-block;
						color: white;
						text-transform: uppercase;
						font-weight: $base-weight;
						padding: 0 6px;
						background: #113220;
						color: white;
					}
				}
			}
		}
	}
}