/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/

.page {

	#jumbrotron {
		height: 420px;
		max-height: 420px;

		h1 {
			color: white;
			text-transform: uppercase;
			font-size: 38px;
			line-height: 1.1;
			margin: 0 0 40px 0;
		}

		h3 {
			color: $brand-primary;
			text-transform: uppercase;
			font-size: 16px;
		}

		.news {
			bottom: 0;

			.span6 {
				position: static;

				h1 {
					margin: 0;
					position: absolute;
					top: 50%;
				}

				h3 {
					position: absolute;
					bottom: 5%;
					margin: 0;
				}

				img {
					display: block
				}
			}
		}
	}

	#location {

		.map {
			
		}
	}

	#primary {
		margin-top: 50px;

		article {
			h2, h3, h4, h5 {
				color: $brand-primary-dark;
				font-size: 20px;
				margin-bottom: 20px;
				line-height: 1.2;
			}
		}

		.hours {

			table {

				tr {

					td {
						vertical-align: top;
						padding: 20px;
						border-bottom: 0;

						&.title {
							background-color: $brand-primary-dark;
							color: white;
							font-family: $heading-font-family;
							font-weight: 800;
							width: 30%;
							border-top: 1px solid $brand-primary-dark;
							border-bottom: 1px solid white;
							border-left: 1px solid $brand-primary-dark;
						}

						&.info {
							width: 70%;
							border-top: 1px solid #ccc;
							border-bottom: 1px solid #ccc;
							border-right: 1px solid #ccc;
						}
					}
				}
			}
		}
	}
}
