/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/

.page {

	#jumbrotron {
		height: 420px;
		max-height: 420px;

		h1 {
			color: white;
			text-transform: uppercase;
			font-size: 38px;
			line-height: 1.1;
			margin: 0 0 40px 0;
		}

		h3 {
			color: $brand-primary;
			text-transform: uppercase;
			font-size: 16px;
		}

		.news {
			bottom: 0;

			.span6 {
				position: static;

				h1 {
					margin: 0;
					position: absolute;
					top: 50%;
				}

				h3 {
					position: absolute;
					bottom: 5%;
					margin: 0;
				}

				img {
					display: block
				}
			}
		}
	}

	#location {

		.map {
			
		}
	}

	#primary {
		margin-top: 50px;

		article {
			h2, h3, h4, h5 {
				color: $brand-primary-dark;
				font-size: 20px;
				margin-bottom: 20px;
				line-height: 1.2;
			}
		}

		.hours {

			table {

				tr {

					td {
						vertical-align: top;
						padding: 20px;
						border-bottom: 0;

						&.title {
							background-color: $brand-primary-dark;
							color: white;
							font-family: $heading-font-family;
							font-weight: 800;
							width: 30%;
							border-top: 1px solid $brand-primary-dark;
							border-bottom: 1px solid white;
							border-left: 1px solid $brand-primary-dark;
						}

						&.info {
							width: 70%;
							border-top: 1px solid #ccc;
							border-bottom: 1px solid #ccc;
							border-right: 1px solid #ccc;
						}
					}
				}
			}
		}
	}
}

/*--------------------------------------------------------------
## Fixtures
--------------------------------------------------------------*/

.page-template-page-fixtures {

	#vs {
		position: relative;
		margin-bottom: 40px;

		h2 {
			color: $brand-primary-dark-t20;
			font-size: 30px;
			line-height: 1;
			margin: 60px 0 20px 0;
			text-transform: uppercase;
			font-weight: 900;
			display: inline-block;
			padding-right: 100px;

			&:first-of-type {
				margin-top: 0;
			}
		}

		.row {
			margin-bottom: 0;
			padding: 20px;
			position: relative;

			&:nth-child(even) {
				background: #f9f9f9;
			}

			h3 {
				color: $brand-primary;
				font-size: 30px;
				margin: 0 0 20px 0;
				text-transform: uppercase;
				background: transparent;
				font-weight: 900;
				border: 0;
				height: auto;
			}
		}

		.team {
			float: left;
			width: auto;
			position: relative;

			img {
				width: 79px;
				float: left;
				margin-right: 20px;
			}

			.name {
				width: auto;
				float: left;
				text-align: left;

				h3, h4 {
					margin: 0;
					line-height: 1;
					text-transform: uppercase;
				}

				h3 {
					font-size: 21px;
					color: $brand-primary-dark-t20;
				}

				h4 {
					font-size: 19px;
					color: $brand-primary;
					position: relative;
					margin-bottom: 15px;

					small {
						font-size: 15px;
						position: absolute;
						bottom: -17px;
						left: 0;
						width: 100%;
					}
				}

				p {
					color: #333;
					margin: 0; 

					span:first-of-type {
						margin-right: 5px;
						padding-right: 5px;
						border-right: 1px solid #333;
					}
				}
			}
		}

		.link {
			text-align: right;
			float: right;

			.status {
				font-weight: 800;
				color: #333;
				text-transform: uppercase;
				line-height: 1;
				display: block;
			}

			p {
				margin: 0; 
			}

			a {
				font-weight: 600;
				text-transform: uppercase;
				font-size: 14px;
				color: white;
				float: right;
				margin-left: 20px;
				padding: 6px 16px;
				font-weight: 800;
			}

			.matchlink {
				background: $brand-primary;
			}

			.ticketlink {
				background: $brand-primary-dark;
			}
		}
	}
}