.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


aside {

	input {
		box-sizing: border-box;
	}
}


.widget .tab h3 {
	text-transform: uppercase;
	line-height: normal;
	font-size: 14px;
	color: black;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}