.Opta {
	font-family: $heading-font-family;

	.Opta_C_S {
		
		table {
			
			tr {
				
				td.Opta-Strong {
					font-weight: $base-weight;
					border-top: 1px solid $brand-primary;
					border-bottom: 1px solid $brand-primary;
				}
			}
		}
	}

	.Opta-MatchHeader {

		table {

			tr {

				.Opta-Team {
					font-family: $heading-font-family;
					font-size: 22px;
					text-transform: uppercase;
					font-weight: $base-weight;
				}
			}
		}
	}
}
