/*--------------------------------------------------------------
## GLOBAL
--------------------------------------------------------------*/

#twitter {
	text-align: center;
	padding: 40px 0;
	background: #f9f9f9;
	margin-bottom: 40px;

	h2 {
		color: $brand-primary;
		font-size: 30px;
		margin: 0 0 20px 0;
	}

	p {
		margin: 20px 0 0 0;
	}

	a {
		color: $brand-primary;
	}

	.tweets {

		.tweet {
			padding: 0 40px;

			@include media($medium-screen-up) {
				padding: 0 150px;
			}
			
			h4 {
				margin: 0;
				color: $brand-primary-dark-t20;
				font-size: 22px;
			}
		}
	}
}

#topnavbar {
	background: #f9f9f9;

	#sidebar, .widget {
		margin-bottom: 0;

		h2 {
			display: none;
		}

		ul {

			li {
				float: left;
				margin: 0 15px 0 0;
				border: 0;
				padding: 0;

				a {
					padding: 15px 0;
					display: block;
				}
			}
		}
	}
}

#filter {
	background: #f9f9f9;

	.container {
		@include outer-container(100%);
		padding: 0;
	}

	.row {
		position: relative;
		display: inline-block;
		width: 100%;
		float: left;

		&:after {
			content: "OR";
			width: 50px;
			background: $brand-primary-dark;
			line-height: 50px;
			text-align: center;
			color: white;
			font-weight: $heavy-weight;
			border-radius: 50%;
			position: absolute;
			left: 50%;
			margin-left: -25px;
			top: 50%;
			margin-top: -25px;
		}
	}

	&.reveal {
		position: fixed;
		z-index: 100;
		top: 0;
		width: 100%;
	}

	h3 {
		color: $brand-primary;
		font-size: 30px;
		padding: 30px 0;
		margin: 0;
		text-transform: uppercase;
		text-align: center;
		position: relative;

		&:before {
			content: '';
			width: 20px;
			height: 20px;
			background-color: $brand-primary-dark;
			position: absolute;
			bottom: -10px;
			transform: rotate(45deg);
			left: 50%;
			margin-left: -10px;
			display: none;
		}
	}

	.choice {
		float: left;
		width: 50%;
		cursor: pointer;
		background-color: #f9f9f9;
		-webkit-transition: all 300ms ease-in-out;
		   -moz-transition: all 300ms ease-in-out;
		    -ms-transition: all 300ms ease-in-out;
		     -o-transition: all 300ms ease-in-out;
		        transition: all 300ms ease-in-out;

		&:hover, &.active {

			h3 {
			}
		}

		h3.active {
			background-color: $brand-primary;
			color: white;

			&:before {
				display: block;
			}
		}
	}

	form {
		position: absolute;
		z-index: 1;
		display: none;
		background-color: $brand-primary-dark;
		width: 100%;
		padding: 30px;
		top: 108px;
		left: 0;

		&.active {
			display: block;
		}
	}

	ul {
		list-style: none;
		max-width: 1320px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		padding: 0 40px;

		li {
			float: left;
			margin-right: 20px;
			line-height: 3;
			vertical-align: middle;

			label, input {
				float: none;
				margin: 0;
				vertical-align: middle;
				color: white;
			}

			input[type="checkbox"] {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				border: 1px solid $brand-primary;
				position: relative;
				width: 26px;
				height: 26px;
				padding: 0;
				margin-right: 4px;
				outline:0;
				box-shadow: none;
				display: inline-block;
				vertical-align: middle;

				&:checked{

					&:before {
						content: "\f00c";
						width: 100%;
						height: 100%;
						text-align: center;
						font-family: FontAwesome;
						position: absolute;
						color: $brand-primary;
					}
				}
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	margin-bottom: 40px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*--------------------------------------------------------------
## Timeline
--------------------------------------------------------------*/

#cd-timeline {
	position: relative;
	margin: 40px auto;
	max-width: 960px; 
	padding: 40px;
	background-color: #f9f9f9;

	h1 {
		font-size: 30px;
		color: white;
		background-color: #113220;
		text-align: center;
		position: relative;
	}

	&:before {
		/* this is the vertical line */
		content: '';
		position: absolute;
		top: 0;
		height: 100%;
		width: 4px;
		background: $brand-primary;
		left: 50%;
		margin-left: -2px;
	}
	
	.cd-container {
		width: 90%;
		max-width: 1170px;
		margin: 0 auto;

		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}

	.cd-timeline-block {
		position: relative;
		margin: 4em 0;

		&:after {
			content: "";
			display: table;
			clear: both;
		}
		
		&:first-child {
			margin-top: 0;
		}

		&:nth-child(even) {

			.cd-timeline-content {
				float: right;
			}
		}
	}

	.cd-timeline-content {
		margin-left: 0;
		padding: 1.6em;
		width: 42%;
		// position: relative;
		background: white;
		border-radius: 0.25em;
		padding: 1em;
		background: $brand-primary;
		color: white;
		text-align: center;

		h2 {
			margin-bottom: 0;
		}

		.cd-date {
			position: absolute;
			width: 100%;
			left: 0;
			right: 0;
			top: 18px;
			font-size: 16px;
			color: white;
			font-weight: $medium-weight;
		}

		&:nth-child(even) {

			.cd-date {
				// left: auto;
				// right: 122%;
				// text-align: right;
			}
		}
	}

	.cd-timeline-img {
		width: 60px;
		height: 60px;
		left: 50%;
		margin-left: -30px;
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;

		position: absolute;
		top: 0;
		border-radius: 50%;
		box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
		background: $brand-primary;

		img, svg {
			display: block;
			width: 50px;
			height: 50px;
			position: relative;
			left: 50%;
			top: 50%;
			margin-left: -25px;
			margin-top: -25px;
			vertical-align: middle;
			opacity: 0;
		}
	}
	
	.cssanimations .cd-timeline-img.is-hidden,.cssanimations .cd-timeline-content.is-hidden {
		visibility: hidden;
	}

	.cssanimations .cd-timeline-img.bounce-in,.cssanimations .cd-timeline-content.bounce-in {
		visibility: visible;
		animation: cd-bounce 0.6s;
	}

	@keyframes cd-bounce {
		0% {
			opacity: 0;
			transform: scale(0.5);
		}
		60% {
			opacity: 1;
			transform: scale(1.2);
		}
		100% {
			transform: scale(1);
		}
	}
}

#signup {
	position: relative;
	padding:0 0 38px 0;
	background-color: #f9f9f9;

	.row {

		h3 {
			color: $brand-primary;
			font-size: 23px;
			margin: 0 0 20px 0;
			text-transform: uppercase;
			text-align: center;

			@include media($medium-screen-up) {
				font-size: 30px;
			}
		}
	}

	#subForm {
		
		p {
			width: 32.52%;
			float: left;
			margin: 0 1% 0 0;
			
			@include media($medium-screen-up) {
				margin: 0 10px 0 0;
			}

			input[type="color"], 
			input[type="date"], 
			input[type="datetime"], 
			input[type="datetime-local"], 
			input[type="email"], 
			input[type="month"], 
			input[type="number"], 
			input[type="password"], 
			input[type="search"], 
			input[type="tel"], 
			input[type="text"], 
			input[type="time"], 
			input[type="url"], 
			input[type="week"], 
			input:not([type]), 
			textarea, 
			select[multiple=multiple], 
			button {
				margin: 0;
				padding: 10px;
				border-radius: 0;
				box-shadow: none;
				border: 1px solid #ccc;
				width: 100%;
				font-family: $heading-font-family;
			}

			button {
				text-transform: uppercase;
				background: $brand-primary;
				border-color: $brand-primary;
				color: white;
				line-height: 1.75;

				&:hover, &:active {
					background-color: $brand-primary-dark;
				}
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}


#famousfour {
	padding-bottom: 40px;

	.item {

		img {
			display: block;
		}

		.info {
			background-color: $brand-primary-dark-t20;
			border-top: 2px solid white;
			padding: 20px;

			h3 {
				color: white;
				font-size: 25px;
				line-height: 1;
			}
			
			a {
				color: white;
				font-size: 14px;
			}
		}
	}
}

#sponsors {

	.row {
		margin-bottom: 0;
	}

	.sponsors {
		float: left;
		border-top: 1px solid #ccc;
		margin-top: 30px;
		position: relative;
		padding-top: 30px;

		header{
			position: absolute;
			width: 100%;
			margin-top: -43px;

			h3 {
				background-color: white;
				padding: 0 15px;
				display: table;
				text-transform: uppercase;
				color: #202020;
				margin: 0 auto;
			}
		}

		.sponsor {
			width: auto;
			display: inline-block;
			float: none;
			
			img {
				display:block;
				filter: grayscale(100%);
				height: 42px;
				width: auto;
			}
		}

		&.official {
			border-top: 0;
			width: 100%;
			text-align: center;

			@include media($medium-screen-up) {
				width: 18.146%; // 225px for large 
			}

			.sponsor {
				width: 100%;

				@include media($medium-screen-up) {
					border-right: 1px solid#ccc;
					padding-right: 20px;
				}

				img {
					margin: 0 auto;
					height: 85px;

					@include media($medium-screen-up) {
					}
				}
			}
			
			header{

				h3 {
					padding: 0 15px 0 0;
				}
			}
		}

		&.main {

			width: 100%;
			text-align: center;
			
			@include media($medium-screen-up) {
				width: 81.856%; // 1015px for large 
			}

			.sponsor {
				// width: 48%;
				// margin-bottom: 10px;
				// margin-right: 1%;
				// margin-left: 1%;
				padding-top: 20px;


				img {
					//width: 100%;
				}

				@include media($medium-screen-up) {
					// width: 15%;
					// margin-right: 20px;
					// margin-left: 0;
					// margin-bottom: 0;

					&:last-of-type {
						// margin-right: 0;
						// margin-bottom: 0;
					}
				}
			}
		}

		&.club {
			text-align: center;
			
			.sponsor {	
				margin-bottom: 10px;
				// margin-right: 1%;
				// margin-left: 1%;

				img {
					// width: 100%;
				}

				@include media($medium-screen-up) {
					// width: 12.67%;
					// margin: 0 10px 20px;

					&:last-of-type {
						// margin-right: 0;
					}
				}
			}
		}
	}
}

.tabs {
	width:100%;
	display:inline-block;
}

.tab-links {

	&:after {
		display:block;
		clear:both;
		content:'';
	}

	li {
		margin:0px 5px;
		float:left;
		list-style:none;

		&.active {

			a, a:hover {
				background:#fff;
				color:#4c4c4c;
			}
		}
	}

	a {
		padding:9px 15px;
		display:inline-block;
		border-radius:3px 3px 0px 0px;
		background:#7FB5DA;
		font-size:16px;
		color:#4c4c4c;
		transition:all linear 0.15s;

		&:hover {
			background:#a7cce5;
			text-decoration:none;
		}
	}
}

.tab-content {
	padding:15px;
	border-radius:3px;
	box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
	background:#fff;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}


/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/
@import "pages/pages";

/*--------------------------------------------------------------
## Home
--------------------------------------------------------------*/
@import "pages/home";

/*--------------------------------------------------------------
## Single Post
--------------------------------------------------------------*/
@import "pages/singe-post";

/*--------------------------------------------------------------
## Archive
--------------------------------------------------------------*/
@import "pages/archive";

/*--------------------------------------------------------------
## Matches
--------------------------------------------------------------*/
@import "pages/matches";
