#jumbrotron {
	background-color: $brand-primary-dark;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: right top;
	max-height: 890px;
	height: 890px;
	overflow: hidden;
	position: relative;

	.overlay {
		position: absolute;
		left: 50%;
		width: 50%;
		height: 100%;
		background-size: cover;
		display: none;

		@include media ($medium-screen-up) {
			display: block;
		}
	}

	h1, h2 {
		font-size: 45px;
		line-height: 0.875;
		color: white;
		text-transform: uppercase;

		@include media ($medium-screen-up) {
			font-size: 55px;
		}

		span {
			color: $brand-primary;
		}

		small {
			font-size: 50%;
		}
	}

	.info {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;

		$ccimages: (
			'assets/images/banners/CC-Clarke-min.jpg',
			'assets/images/banners/CC-Hastings-min.jpg',
			'assets/images/banners/CC-Leach-min.jpg',
			'assets/images/banners/CC-MitchDolly-min.jpg',
		);

		$ccimage: nth($ccimages, random(length($ccimages)));

		@include media ($medium-screen-down) {
			background-image: url($ccimage) !important;
			background-size: cover;
		}


		p {
			color: white;
		}

		a {
			border: 1px solid $brand-primary;
			background-color: $brand-primary;
			color: white;
			text-transform: uppercase;
			padding: 8px 32px;
			font-size: 14px;
			float: left;
		}
	}

	.news {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background-position: 75%;
		background-repeat: no-repeat;

		$ccimages: (
			'assets/images/banners/CC-Clarke-min.jpg',
			'assets/images/banners/CC-Hastings-min.jpg',
			'assets/images/banners/CC-Leach-min.jpg',
			'assets/images/banners/CC-MitchDolly-min.jpg',
		);

		$ccimage: nth($ccimages, random(length($ccimages)));

		@include media ($medium-screen-down) {
			background-image: url($ccimage) !important;
			background-size: cover;
		}

		@include media($medium-screen-up) {
			background-position: 50%;
		}
	}

	.stories {
		position: absolute;
		width: 100%;
		bottom: 20px;
		background-position: 50%;
		background-repeat: no-repeat;

		.slide {
			background: white;
			border: 2px solid white;
			box-sizing: border-box;

			a {
				display: block;
				display: table;

				&:hover {
					color: $brand-primary;

					h2, h3, h4, a {
						color: $brand-primary;
					}
				}
			}

			h2, h3, h4, a {
				text-transform: uppercase;
				color: $brand-primary-dark;
				margin: 0;
				font-size: 16px;
				line-height: 1.2;

				small {
					color: #brand-primary;
				}
			}

			.more {
				position: absolute;
				font-size: 13px;
				bottom: 7px;
				color: $brand-primary;
			}

			.image {
				float: left;
				width: 50%;
			}

			.content {
				float: left;
				width: 50%;
				padding: 10px;
			}
		}
	}
}

