.t20 {
	font-weight: $medium-weight;

	.widget {

		ul {

			li.current_page_item {

				a {
					font-weight: $heavy-weight;
				}
			}
		}
	}



	#filter {

		.row {
			
			&:after {
				background: $brand-primary-dark-t20;
			}
		}

		form {
			background-color: $brand-primary-dark-t20;

			ul {

				li {

					input[type="checkbox"] {
						border-color: $brand-primary-t20;
					}
				}
			}
		}

		h3 {
			color: $brand-primary-t20;

			&.active {
				background-color: $brand-primary-t20;
			}
		}
	}

	#loader {
		background-image: url(assets/images/logo-rapids.svg);

		#progstat {
			color: $brand-primary-t20;
		}
		#progress {
			background: $brand-primary-t20;
		}
	}

	a {
		color: $brand-primary-t20;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: $super-weight;
	}

	button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
		background: $brand-primary-t20;
	}

	#no-feed {
		background-color: $brand-primary-dark-t20;
	}

	.main-menu-container {
		background: $brand-primary-dark-t20;
		padding-top: 170px;

		li {
			&:hover > a, 
			&.focus > a {
				color: $brand-primary-t20;
			}
		}
	}

	.squadies {

		.person {

			h2 {
				background: $brand-primary-dark-t20;
			}

			.info {
				background: $brand-primary-dark-t20;

				a {
					background-color: $brand-primary-t20;
				}
			}
		}
	}

	.menu-childs {

		.child {

			h2 {
				border-bottom-color: $brand-primary-t20;
			}

			.menu-sub-menu {

				ul  {

					li {
						border-bottom-color: $brand-primary-t20;
					}
				}
			}

			.memberships {

				.viewall {
					background: $brand-primary-t20;
				}

				.packages {

					.package {

						.links  {

							a {
								background: $brand-primary-t20;
							}
						}
					}
				}
			}

			.tabs {
				border-color: $brand-primary-t20;

				.tab-links {

					li {
						border-bottom-color: $brand-primary-t20;
						border-left-color : $brand-primary-t20;
					}
				}

				.tab-content {

					.Opta {

						tfoot {
							
							th {
								border-bottom-color: $brand-primary-t20;
							}
						}

						thead  {

							th {
								border-bottom-color: $brand-primary-t20;
							}
						}
					}
				}
			}

			.match-info {
				p {
					a {
						color: $brand-primary-t20;
					}
				}	
			}
		}
	}

	.slick-prev {
		background-image: url(assets/images/slide-prev-blue.svg);
	}

	.slick-next {
		background-image: url(assets/images/slide-next-blue.svg);
	}

	.live-view {
		background: $brand-primary-t20;
		color: white;

		&:after {
			background-color: $brand-primary-t20;
		}
	}

	#jumbrotron {
		background-color: $brand-primary-dark-t20;

		.info {

			h2 {

				span {
					color: $brand-primary-t20;
				}
			}

			a {
				border-color: $brand-primary-t20;
			}
		}

		.stories, .news {
			.slide {
				h2, h3, h4, a {
					color: $brand-primary-t20;
				}
			}
		}
	}

	#fixtures {
		background: linear-gradient(90deg, $brand-primary-t20 50%, $brand-primary-dark-t20 50%);

		.result, .fixture {
			
			.match-info {

				.links {

					a {
						background: $brand-primary-t20;
					}
				}
			}
		}

		.fixture {

			.match-info {

				.date-time {
					background: $brand-primary-dark-t20;
				}

				.comp {
					color: $brand-primary-t20;
				}

				.match {
					span {
						color: $brand-primary-t20;
					}
				}
			}
		}

		.result {

			.match-info {

				.date-time {
					background: $brand-primary-t20;
				}

				.comp {
					color: $brand-primary-dark-t20;
				}

				.match {
					span {
						color: $brand-primary-dark-t20;
					}
				}
			}
		}
	}

	#colophon {
		background: $brand-primary-dark-t20;

		h3 {
			color: $brand-primary-t20;
		}
	}

	#copyright {
		background: $brand-primary-t20;	
	}

	#vs {

		.tab {
			background-color: $brand-primary-t20;

			&:before, &:after {
				background-color: $brand-primary-t20;
			}

			&#results, &#fixtures {
				background: white;
			}
		}

		.link {

			.matchlink {
				background-color: $brand-primary-t20;
				color: white;
			}
		}

		.tab-links {

			li {

				a {
					background: $brand-primary-dark-t20;
					font-weight: 500;
				}

				&.active {

					a {
						background: $brand-primary-t20;
					}
				}
			}
		}

		.team {

			.name {
				h3 {
					color: $brand-primary-dark-t20;
				}
				h4 {
					color: $brand-primary-t20;
				}
			}
		}

		.link {

			a {
				color: $brand-primary-t20;
			}
		}
	}

	#twitter {

		h2 {
			color: $brand-primary-t20;
		}

		a {
			color: $brand-primary-t20;
		}
	}

	&.single {

		#jumbrotron {

			h3 {
				color: $brand-primary-t20;
			}
		}

		#primary {

			article {
				h2, h3, h4, h5 {
					color: $brand-primary-dark-t20;
				}
			}
		}
	}

	&.single-matches {

		#jumbrotron {

			.news {
				
				h1 {
					span {
						color: $brand-primary-t20;
					}
				}
			}
		}

		aside {

			nav {

				ul {

					li {

						a.nav-active {
							background-color: $brand-primary-t20;
						}
					}
				}
			}
		}

		.data-feed {
			border-color: $brand-primary-t20;
		}
	}

	.widget {

		h2 {
			border-color: $brand-primary-t20;
			color: $brand-primary-dark-t20;
		}

		ul {

			li {
				border-color: $brand-primary-t20;
			}
		}

		.tab-links {

			li {

				&.active a, &.active a:hover {
					background-color: $brand-primary-dark-t20;
				}
			}
		}

		.tab-content {
			border-color: $brand-primary-dark-t20;
		}
	}

	&.archive, &.blog {

		#jumbrotron {

			h3 {
				color: $brand-primary-t20;
			}
		}

		#sidebar {
			
			.widget {

				ul {
					border-top-color: $brand-primary-t20;
					border-bottom-color: $brand-primary-t20;
				}
			}
		}

		#primary {

			article {

				header {

					h1 {
						background: $brand-primary-t20;

						&:hover {
							background: $brand-primary-dark-t20;
						}
					}
				}
			}
		}
	}

	#signup {
		.row {
			h3 {
				color: $brand-primary-t20;
			}
		}

		#subForm {
			p {
				button {
					background: $brand-primary-t20;
					border-color: $brand-primary-t20;
				}
			}
		}
	}

	.Opta {

		.Opta_C_S {

			table {

				tr {

					td.Opta-Strong {
						border-top-color: $brand-primary-t20;
						border-bottom-color: $brand-primary-t20;
					}
				}
			}
		}
	}
}

