.t20 {
	font-weight: $medium-weight;

	.cc-window.cc-floating.cc-type-info {
		background-color: $brand-primary-dark-t20 !important;
	}

	.cc-btn.cc-dismiss {
		background-color: $brand-primary-t20 !important;	
	}

	#topnavbar {
		background-color: $brand-primary-t20;

		#sidebar, .widget {

			ul {
				
				li {
					
					&.current_page_item {

						a {
							font-weight: 700;
						}
					}
				}
			}
		}
	}

	#masthead {

		.site-header {

			.branding {
				width: 50%;
				
				@include media($medium-screen-up) {
					width: auto;
				}
			}
		}
	}

	#main {

		article {
			h2, h3, h4, h5 {
				color: $brand-primary-dark-t20;
			}
		}

		.downloads {
			
			a {
				background-color: $brand-primary-t20;
			}
		}

		.memberships {

			.package {

				.copy {

					h3 {
						background-color: $brand-primary-dark-t20;
					}

					h4 {
						background-color: $brand-primary-t20;
					}
				}

				.links {

					a {
						background-color: $brand-primary-dark-t20;
					}
				}
			}
		}

		.quick-links {

			ul {
				border-top-color: $brand-primary-t20;

				li {

					a {
						background-color: $brand-primary-t20;
					}
				}
			}
		}

		#cd-timeline {

			&:before {
				background-color: $brand-primary-t20;
			}

			h1 {
				background-color: $brand-primary-dark-t20;
			}

			.cd-timeline-img {
				background-color: $brand-primary-t20;
			}

			.cd-timeline-content {
				background-color: $brand-primary-t20;
			}
		}

		.hours {

			table {

				tr {

					td.title {
						background-color: $brand-primary-dark-t20;
						border-top-color: $brand-primary-dark-t20;
						border-left-color: $brand-primary-dark-t20;
					}
				}
			}
		}
	}

	.widget {

		ul {

			li.current_page_item {

				a {
					font-weight: $heavy-weight;
				}
			}
		}
	}

	#filter {

		.row {
			
			&:after {
				background: $brand-primary-dark-t20;
			}
		}

		form {
			background-color: $brand-primary-dark-t20;

			ul {

				li {

					input[type="checkbox"] {
						border-color: $brand-primary-t20;
					}
				}
			}
		}

		h3 {
			color: $brand-primary-t20;

			&:before {
				background-color: $brand-primary-dark-t20;
			}

			&.active {
				background-color: $brand-primary-t20;
			}
		}
	}

	#loader {
		background-color: black;
		background-image: url(assets/images/logo-rapids.svg);

		#progstat {
			color: $brand-primary-t20;
		}
		#progress {
			background: $brand-primary-t20;
		}
	}

	a {
		color: $brand-primary-t20;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: $super-weight;
	}

	button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
		background-color: $brand-primary-t20;
	}

	#no-feed {
		background-color: $brand-primary-dark-t20;
	}

	.whats-on {

		#main {

			.row {

				.package {

					header {

						h3 {
							background-color: $brand-primary-t20;
						}
					}
				}
			}
		}
	}

	.main-menu-container {
		background: rgba(32, 32, 32, 0.9);
		padding-top: 130px;

		ul.nav-menu {

			li {

				a {
					color: white;
					font-weight: 700;
				}

				&:hover > a, 
				&.focus > a {
					color: $brand-primary-t20;
				}
			}
		}

		li {

			a {
				color: white;
				font-weight: 700;

				&#newroad {
					background-color: transparent;
					color: $brand-primary-t20;

					&:hover, 
					&.focus {
						color: white;
						background-color: #cf9c23;
					}
				}
			}

			&:hover > a, 
			&.focus > a {
				color: $brand-primary-t20;
			}
		}

		.current_page_item > a, 
		.current-menu-item > a, 
		.current_page_ancestor > a, 
		.current-menu-ancestor > a {
			color: $brand-primary-t20;
			font-weight: 900;
		}
	}

	.squadies {

		.person {

			h2 {
				background: $brand-primary-dark-t20;
			}

			.info {
				background: $brand-primary-dark-t20;

				a {
					background-color: $brand-primary-t20;
				}
			}
		}
	}

	#mega-menu-wrap-menu-1 {

		#mega-menu-menu-1 {

			&[data-effect="fade_up"] li.mega-menu-item.mega-toggle-on > ul.mega-sub-menu, 
			&[data-effect="fade_up"] li.mega-menu-item.mega-menu-megamenu.mega-toggle-on ul.mega-sub-menu {

				@include media ($medium-screen-up) {
					background: rgba(32, 32, 32, 0.9);
				}
			}

			> .mega-sub-menu {
				background: transparent;
			}

			> .mega-menu-item {

				> .mega-menu-link {
					font-weight: 700;

					&:hover, &:focus, &:active {
						color: $brand-primary-t20;
						font-weight: 700;
					}
				}

				&.mega-toggle-on {

					> a.mega-menu-link {
						font-weight: 700;
						color: $brand-primary-t20;
					}
				}

				&.mega-current-page-ancestor,
				&.mega-current-menu-ancestor, 
				&.mega-current-menu-item {
					font-weight: 700;
					
					> .mega-menu-link {
						color: $brand-primary-t20;
						font-weight: 700;
					}
				}

				.mega-sub-menu {
					background: transparent;
				}
			}
		}
	}

	.menu-childs, .mega-sub-menu {
		background: rgba(32, 32, 32, 0.9);

		.child {

			h2 {
				border-bottom-color: $brand-primary-t20;
			}

			.menu-sub-menu {

				ul  {

					li {
						border-bottom-color: $brand-primary-t20;
					}
				}
			}

			.memberships {

				.viewall {
					background: $brand-primary-t20;
				}

				.packages {

					.package {

						h3 {
							background: $brand-primary-t20;
						}

						h4 {
							background: $brand-primary-dark-t20;
						}

						.links  {

							a {
								background: $brand-primary-t20;
								color: white;
							}
						}
					}
				}
			}

			.tabs {
				border-color: $brand-primary-t20;

				.tab-links {

					li {
						border-bottom-color: $brand-primary-t20;
						border-left-color : $brand-primary-t20;
					}
				}

				.tab-content {

					.Opta {

						tfoot {
							
							th {
								border-bottom-color: $brand-primary-t20;
							}
						}

						thead  {

							th {
								border-bottom-color: $brand-primary-t20;
							}
						}
					}
				}
			}

			.match-info {
				p {
					a {
						color: $brand-primary-t20;
					}
				}	
			}

			&#news, &#whatson {

				.slide {

					h2, h3, h4, a {

						small {
							color: $brand-primary-t20;
						}
					}

					a:hover {
						color: $brand-primary-t20;
					}
				}

				.viewall {
					background-color: $brand-primary-t20;
				}
			}
		}
	}

	.slick-prev {
		background-image: url(assets/images/slide-prev-blue.svg);

		&:hover, &:focus {
			background-color: transparent;
		}
	}

	.slick-next {
		background-image: url(assets/images/slide-next-blue.svg);

		&:hover, &:focus {
			background-color: transparent;
		}
	}

	.live-view {
		background: $brand-primary-t20;
		color: white;
		margin-right: 23px;

		@include media($medium-screen-up) {
			margin-right: 33px;
		}

		&:after {
			background-color: $brand-primary-t20;
		}
	}

	#jumbrotron {
		background-color: $brand-primary-dark-t20;

		.slick-prev {
			background-image: url(assets/images/slide-prev-white.svg);
		}
		.slick-next {
			background-image: url(assets/images/slide-next-white.svg);
		}

		h1, h2 {

			span {
				color: $brand-primary-t20;
			}

			small {
			}
		}

		.info {

			$t20images: (
				'assets/images/banners/T20-Cox.jpg',
				'assets/images/banners/T20-Clarke.jpg',
				'assets/images/banners/T20-Moeen.jpg'
			);

			$t20image: nth($t20images, random(length($t20images)));

			@include media ($medium-screen-down) {
				background-image: url($t20image) !important;
			}

			a {
				border-color: $brand-primary-t20;
				background-color: $brand-primary-t20;
			}
		}

		.stories, .news {
			
			.slide {
				
				h2, h3, h4, a {
					color: $brand-primary-dark-t20;
					font-weight: 700;

					small {
						color: $brand-primary-t20;
					}
				}

				a {

					&:hover {
						color: $brand-primary-t20;

						h2, h3, h4 {
							color: $brand-primary-t20;
						}
					}
				}
			}
		}

		.news {
			$t20images: (
				'assets/images/banners/T20-Cox.jpg',
				'assets/images/banners/T20-Clarke.jpg',
				'assets/images/banners/T20-Moeen.jpg'
			);

			$t20image: nth($t20images, random(length($t20images)));

			@include media ($medium-screen-down) {
				background-image: url($t20image) !important;
			}
		}
	}

	#fixtures {

		@include media($medium-screen-up) {
			background: linear-gradient(90deg, $brand-primary-t20 50%, $brand-primary-dark-t20 50%);
		}

		.result, .fixture {
			
			.match-info {

				.links {

					a {
						background: $brand-primary-t20;
					}
				}
			}
		}

		.fixture {
			background-color: $brand-primary-dark-t20;

			.match-info {

				.date-time {
					background: $brand-primary-dark-t20;
				}

				.comp {
					color: $brand-primary-t20;
				}

				.match {
					span {
						color: $brand-primary-t20;
					}
				}
			}
		}

		.result {
			background-color: $brand-primary-t20;

			.match-info {

				.date-time {
					background: $brand-primary-t20;
				}

				.comp {
					color: $brand-primary-dark-t20;
				}

				.match {
					span {
						color: $brand-primary-dark-t20;
					}
				}
			}
		}
	}

	#colophon {
		background: $brand-primary-dark-t20;

		h3 {
			color: $brand-primary-t20;
		}
	}

	#copyright {
		background: $brand-primary-t20;	
	}

	#fixres {

		.tab-links {

			li {

				a {
					background: $brand-primary-dark-t20;
					font-weight: 500;
				}

				&.active {

					a {
						background: $brand-primary-t20;
					}
				}
			}
		}

		.team {

			.name {
				h3 {
					color: $brand-primary-dark-t20;
				}
				h4 {
					color: $brand-primary-t20;
				}
			}
		}

		.link {

			a {
				color: white;

				&.ticketlink {
					background-color: $brand-primary-t20;
				}

				&.matchlink {
					background-color: $brand-primary-dark-t20;
				}

			}
		}

	}

	#vs {

		.tab {
			background-color: $brand-primary-t20;

			&:before, &:after {
				background-color: $brand-primary-t20;
			}

			&#results, &#fixtures {
				background: white;
			}
		}

		.link {

			.matchlink {
				background-color: $brand-primary-t20;
				color: white;
			}
		}

		.team {

			.name {
				h3 {
					color: $brand-primary-dark-t20;
				}
				h4 {
					color: $brand-primary-t20;
				}
			}
		}

		.link {

			a {
				color: $brand-primary-t20;

				&.ticketlink {
					color: white;
				}
			}
		}
	}

	#twitter {

		h2 {
			color: $brand-primary-t20;
		}

		a {
			color: $brand-primary-t20;
		}
	}

	&.single {

		#junbrotron {

			.info {
				$ccimages: (
					'assets/images/banners/T20-ClarkeAlt.jpg',
					'assets/images/banners/T20-CoxAlt.jpg',
					'assets/images/banners/T20-MoeenAlt.jpg',
				);

				$ccimage: nth($ccimages, random(length($ccimages)));

				@include media ($medium-screen-down) {
					background-image: url($ccimage) !important;
					background-size: cover;
				}
			}
		}

		#jumbrotron {

			.news {

				.span6 {

					h1 {

						small {
							color: $brand-primary-t20;
						}
					}
				}
			}

			h3 {
				color: $brand-primary-t20;
			}
		}

		#primary {

			article {
				h2, h3, h4, h5 {
					color: $brand-primary-dark-t20;
				}
			}
		}
	}

	&.single-matches {

		#jumbrotron {

			.news {
				
				h1 {
					span {
						color: $brand-primary-t20;
					}
				}
			}

			.info {
				
				$ccimages: (
					'assets/images/banners/T20-ClarkeAlt.jpg',
					'assets/images/banners/T20-CoxAlt.jpg',
					'assets/images/banners/T20-MoeenAlt.jpg',
				);

				$ccimage: nth($ccimages, random(length($ccimages)));

				@include media ($medium-screen-down) {
					background-image: url($ccimage) !important;
					background-size: cover;
				}
			}
		}

		.match-weather {

			h3 {
				background-color: $brand-primary-dark-t20;
			}

			.weather {
				background-color: $brand-primary-t20;
			}
		}

		.time, .listen-live {

			#pause, #resume, #play {
				background-color: $brand-primary-dark-t20;
			}
		}

		.time, .listen-live {

			span {
				color: $brand-primary-t20;
			}

			#progressBar {

				div {
					background-color: $brand-primary-t20;
				}
			}
		}

		aside {

			nav {

				ul {

					li {

						a.nav-active {
							background-color: $brand-primary-t20;
						}
					}
				}
			}
		}

		.data-feed {
			border-color: $brand-primary-t20;
		}
	}

	.widget {

		h2 {
			border-color: $brand-primary-t20;
			color: $brand-primary-dark-t20;
		}

		ul {

			li {
				border-color: $brand-primary-t20;

				a {
					font-weight: $heavy-weight;
				}
			}
		}

		.tab-links {

			li {

				&.active a, &.active a:hover {
					background-color: $brand-primary-dark-t20;
				}
			}
		}

		.tab-content {
			border-color: $brand-primary-dark-t20;
		}
	}

	&.archive, &.blog {

		#jumbrotron {

			h3 {
				color: $brand-primary-t20;
			}
		}

		#sidebar {
			
			.widget {

				ul {
					border-top-color: $brand-primary-t20;
					border-bottom-color: $brand-primary-t20;
				}
			}
		}

		#primary {

			article {

				header {

					h1 {
						
						small {
							color: $brand-primary-t20;
						}

						&:hover {
							background: $brand-primary-dark-t20;
						}
					}
				}
			}
		}
	}

	#signup {
		.row {
			h3 {
				color: $brand-primary-t20;
			}
		}

		#subForm {
			p {
				button, input[type="submit"] {
					background: $brand-primary-t20;
					border-color: $brand-primary-t20;
				}
			}
		}
	}

	.Opta {

		.Opta_C {

			.Opta-CricketInningsBreakdown {

				.Opta-Team {
					background-color: $brand-primary-t20;

					&.Opta-Away {
						background-color: $brand-primary-dark-t20;
					}
				}
			}
		}

		.Opta-Nav {

			li.Opta-On {

				a {
					background-color: $brand-primary-t20;
				}
			}
		}

		.Opta-Teamsheet-Holder {

			.Opta-Teamsheet-Button {
				background-color: $brand-primary-t20;
			}
		}

		.Opta-Away {

			.Opta-Teamsheet-Button {
				background-color: $brand-primary-dark-t20;
			}
		}

		.Opta_C_S {

			table {

				tr {

					td.Opta-Strong {
						border-top-color: $brand-primary-t20;
						border-bottom-color: $brand-primary-t20;
					}
				}
			}
		}
	}

	&.archive, &.blog {

		#junbrotron {

			.info {
				$ccimages: (
					'assets/images/banners/T20-ClarkeAlt.jpg',
					'assets/images/banners/T20-CoxAlt.jpg',
					'assets/images/banners/T20-MoeenAlt.jpg',
				);

				$ccimage: nth($ccimages, random(length($ccimages)));

				@include media ($medium-screen-down) {
					background-image: url($ccimage) !important;
					background-size: cover;
				}
			}
		}
		
		#sidebar {
			
			.widget {
				
				ul {
					
					li.current-cat, li:hover {
						background-color: $brand-primary-t20;
					}
				}
			}
		}
	}

	&.single-players {

		#junbrotron {

			.info {
				$ccimages: (
					'assets/images/banners/T20-ClarkeAlt.jpg',
					'assets/images/banners/T20-CoxAlt.jpg',
					'assets/images/banners/T20-MoeenAlt.jpg',
				);

				$ccimage: nth($ccimages, random(length($ccimages)));

				@include media ($medium-screen-down) {
					background-image: url($ccimage) !important;
					background-size: cover;
				}
			}
		}


		#primary {

			article {

				.stats {

					dl {

						dt {
							color: $brand-primary-t20;
						}
					}
				}
			}
		}
	}

	.contact {

		table {

			thead {
				background-color: $brand-primary-dark-t20;

				th {
					border-bottom-color: $brand-primary-dark-t20;
				}
			}
		}

		.gform_wrapper {

			.gform_body {

				ul {

					.gfield {

						.gfield_label {
							color: $brand-primary-dark-t20;
						}
					}
				}
			}

			.gform_footer {

				input.button, input[type=image], input[type=submit] {
					background-color: $brand-primary-dark-t20;
				}
			}
		}
	}

	#directions {
		background: #202020;

		.right {

			button {
				background: $brand-primary-t20;
			}
		}
	}

	&.page {
		
		#junbrotron {

			.info {
				$ccimages: (
					'assets/images/banners/T20-ClarkeAlt.jpg',
					'assets/images/banners/T20-CoxAlt.jpg',
					'assets/images/banners/T20-MoeenAlt.jpg',
				);

				$ccimage: nth($ccimages, random(length($ccimages)));

				@include media ($medium-screen-down) {
					background-image: url($ccimage) !important;
					background-size: cover;
				}
			}
		}

	}
}

